.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #FFE9BF;
  }

  .btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 6px 8px;
    font-size: 12px;
    margin-left: 20px;
    color: white;
    background-color: #FFB86A;
  }