.page-layout{
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 10px;
  min-height: 100vh;
  padding-right: 20px;
}


.page-title {
    font-size: 3rem;
    text-align: left;
    margin-left: 23px;
    color:#F49630
}

.page-text {
    font-size: 1rem;
    text-align: left;
    margin-top: 6px;
    margin-left: 23px;
}


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    align-content: flex-start;
    min-height: 0;
    height: 100%;
  }

  .card {
    width: 325px;
    padding: 20px;
    background: #FFF6E9;
    border: 1px solid #C19D75;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-content {
    position: relative;
  }

  .circle {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: orange;
    border-radius: 50%;
  }

  .card-content h2 {
    font-size: 1.5rem;
    color: orange;
    margin-left: 10px;
  }

  .card-content p {
    font-size: 1.0rem;
    color: 'black';
    margin-left: 10px;
    margin-bottom: 10px;
  }

  /* .card-content .date {
    margin-bottom: 5px;
  } */

  .card-content .time {
    margin-bottom: 5px;
  }

  .card-content .location {
    margin-left: 10px;
    color: #FFB86A;
  }

  .card-content .city-state {
    color: #FFB86A;
  }

  .card-content .spots {
    color: #FFB86A;
    text-align: right;
    margin-bottom: 10px;
  }

  .wrapper-heading {
    display: flex;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
  }
  
  .donate-button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

  /* Filter Panel CSS */
  .filter-title{
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .filter-panel {
    width: 400px;
    margin-left: auto;
    height: auto;
    padding: 15px;
    overflow-y: auto;
    height: 500px;
    background-color: #FFF6E9;
    border: 1px solid #C19D75;
  }

  .filter-button {
    width: 50%;
    padding: 7px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

  .clear-button {
    width: 50%;
    padding: 7px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
  }