.vol-page{
  width: 100%;
}

.vol-page-layout{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

/* .vol-page-layout{
  display: flex;
  gap: 10px;
  min-height: 100vh;
  padding-right: 20px;
} */


.vol-page-title {
  font-size: 3rem;
  text-align: left;
  margin-left: 23px;
  color:#F49630
}

.vol-page-text {
  font-size: 1.25rem;
  text-align: left;
  margin-top: 6px;
  margin-left: 25px;
}


.vol-card-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

/* .vol-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  align-content: flex-start;
  min-height: 0;
  height: 100%;
} */

  .vol-card {
    padding: 9px;
    width: 325px;
    background: #FFF6E9;
    border: 1px solid #C19D75;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .vol-card-content {
    position: relative;
  }

  .vol-card-content h2 {
    font-size: 1.5rem;
    color: orange;
    
  }

  .vol-card-content p {
    font-size: 1.0rem;
    color: 'black';
  }

  .vol-date {
    margin-bottom: 5px;
  }

  .vol-card-title {
    margin-bottom: 5px;
  }

  .vol-time {
    margin-bottom: 5px;
  }

  .vol-location {
    color: #FFB86A;
  }

  .vol-city-state {
    color: #FFB86A;
  }

  .vol-spots {
    color: #FFB86A;
    text-align: right;
    margin-bottom: 10px;
  }
/* 
  .vol-wrapper-heading {
    display: flex;
    align-items: center;
  } */

  .vol-wrapper {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
  }
  
  .vol-signup-button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

  /* Filter Panel CSS */
  .vol-filter-title{
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .vol-filter-panel {
    width: 280px;
    margin-left: auto;
    padding: 15px; 
    overflow-y: auto; 
    background-color: #FFF6E9;
    border: 1px solid #C19D75;
  }

  /* .vol-filter-panel {
    width: 275px;
    margin-top: 20px;
    padding: 15px; 
    overflow-y: auto; 
    background-color: #FFF6E9;
    border: 1px solid #C19D75;
    align-items: ;
  } */

  .vol-filter-button {
    width: 50%;
    padding: 7px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

  .vol-clear-button {
    width: 50%;
    padding: 7px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
  }


    /* Volunteer Opportunity Sign up page CSS */
    .vol-opp-title {
      font-size: 4.0rem;
      color: orange;
      margin-bottom: 30px;
      margin-left: 20px;
      text-align: left;
    }

    .vol-opp-text {
      font-size: 1.3rem;
      margin-bottom: 20px;
      margin-left: 20px;
      text-align: left;
    }

    .vol-opp-signup-button {
      width: 20%;
      padding: 9px;
      background-color: orange;
      border-radius: 30px;
      color: white;
      cursor: pointer;
      margin-left: 20px;
    }

    .vol-opp-signup-status {
      font-size: 2.0rem;
      color: orange;
      margin-bottom: 30px;
      margin-left: 20px;
      text-align: left;
    }